<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* list popular Data Science languages
* Know different libraries
* list some open source environments
* practice with Jupyter Notebooks

Some of the popular languages that Data Scientists use are:
    
    1.R
    2.Python
    3.SQL
    4.Java
    5.Julia
    6.Scala
    7.C++

Some of the commonly used libraries used by Data Scientists include:

1. Dplyr (R)
2. GGplot2 (R)
3. Tidyr (R)
4. Numpy (Python)
5. Pandas (Python)
6. ScyPy (Python)

|Data Science Tools|
|---|
|VS Code|
|GitLab|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python.

= 3+2

= 4*9

In [18]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author
Sergio Arroyo